name: Test (Java)

on:
  workflow_call:

permissions:
  contents: read

jobs:
  testCheckout:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          fetch-depth: 0

  lint:
    name: Lint Java
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          fetch-depth: 0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@988b5a0280414f521da01fcc63a27aeeb4b104db # v3.6.1

      - name: Set up JDK
        uses: actions/setup-java@99b8673ff64fbf99d8d325f52d9a5bdedb8483e9 # v4.2.1
        with:
          java-version: 20
          distribution: "temurin"
          cache: gradle
          cache-dependency-path: |
            ./pkg/java/*.gradle*
            ./pkg/java/**/gradle-wrapper.properties

      - name: Lint Java source
        run: make lint-java

  test:
    name: Test Java
    runs-on: ubuntu-latest

    strategy:
      matrix:
        java: ["11", "17", "20"]

    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          fetch-depth: 0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@988b5a0280414f521da01fcc63a27aeeb4b104db # v3.6.1

      - name: Set up JDK
        uses: actions/setup-java@99b8673ff64fbf99d8d325f52d9a5bdedb8483e9 # v4.2.1
        with:
          java-version: ${{ matrix.java }}
          distribution: "temurin"
          cache: gradle
          cache-dependency-path: |
            ./pkg/java/*.gradle*
            ./pkg/java/**/gradle-wrapper.properties

      - name: Test and Build with Gradle
        run: make test-java
