name: Test (Java)

on:
  workflow_call:

permissions:
  contents: read

jobs:
  testCheckout:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

  lint:
    name: Lint Java
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Set up JDK
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          java-version: 20
          distribution: "temurin"
          cache: gradle
          cache-dependency-path: |
            ./pkg/java/*.gradle*
            ./pkg/java/**/gradle-wrapper.properties

      - name: Lint Java source
        run: make lint-java

  check-gen:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Generate Antlr code and validate up to date
        run: |
            make antlr-gen-java
            git diff --text --exit-code ./pkg/java/src/main/gen
      

  test:
    name: Test Java
    runs-on: ubuntu-latest

    strategy:
      matrix:
        java: ["11", "17", "20"]

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Set up JDK
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          java-version: ${{ matrix.java }}
          distribution: "temurin"
          cache: gradle
          cache-dependency-path: |
            ./pkg/java/*.gradle*
            ./pkg/java/**/gradle-wrapper.properties

      - name: Test and Build with Gradle
        run: make test-java
