name: Release (Go)

on:
  workflow_dispatch:
  push:
    tags:
      - "pkg/go/v*"

jobs:
  test:
    permissions:
      contents: read
    uses: ./.github/workflows/pkg-go-build.yaml
    secrets: inherit

  release:
    runs-on: ubuntu-latest
    needs: [test]
    permissions:
      contents: write
      packages: write # publish a new github release
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - uses: Roang-zero1/github-create-release-action@57eb9bdce7a964e48788b9e78b5ac766cb684803 # v3.0.1
        with:
          version_regex: ^pkg/go/v[[:digit:]]+\.[[:digit:]]+\.[[:digit:]]+
          prerelease_regex: ^pkg/go/v[[:digit:]]+\.[[:digit:]]+\.[[:digit:]]+-(alpha|beta)\.[[:digit:]]+$
          changelog_file: pkg/go/CHANGELOG.md
          create_draft: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
